body {
        background-color: #f8f9fa;
      }
      .hero.text-center {
        background-image: url('/Web Project/IT support/assists/Information-Technology-1.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        color: #ffffff;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      }
      
      .hero h1 {
        font-size: 3rem;
        font-weight: 700;
      }
      
      .hero p {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      }
      .section-title {
        font-weight: 600;
        margin-bottom: 30px;
      }

      .list-group.list-group-flush {
        margin-bottom: 20px;
        text-align: center;
      }