.hero-section {
    background-image: url('https://images.unsplash.com/photo-1594640705123-4009f76b1afd?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw0fHxkZnxlbnwwfDB8fHwxNzEwNzQ0MDMzfDA&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
    height: 550px;
}

.hero-section h1 {
    font-size: 5rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 2.5rem;
}

.container-1 {
    padding-bottom: 350px;
    padding-left: 200px;
    top: 160px;
}