body {
  background-color: #222;
  color: white;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 40px;
  cursor: pointer;
}
